*{margin: 0;
padding: 0;}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}#staticEmail,#inputPassword{
    width: 300px;
}span:hover{
color: rgb(255, 0, 0);
}